/* Top Navigation */
.top-nav>li {
  position: relative;
}

.top-nav>li>.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.top-nav>li:hover>.dropdown-menu {
  display: block;
}
.top-nav {
  padding: 0 15px;
  display: flex;
  flex-direction: row;
}

.top-nav > li {
  margin-right: 10px;
  position: relative;
}

.top-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: #fff;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
  color: #fff;
  background-color: #dbdcdd;
}

.top-nav > .open > .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  min-width: 160px;
  z-index: 1000;
  display: none;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.top-nav > .open > .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.top-nav > .open > .dropdown-menu > li > a:hover,
.top-nav > .open > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #1a242f;
}

/* Side Navigation */
@media (min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 60px;
    left: 0;
    width: 225px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    background-color: #222;
  }

  .side-nav > li > a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .side-nav > li > a:hover,
  .side-nav > li > a:focus {
    outline: none;
    background-color: #1a242f;
  }

  .side-nav > li > ul {
    padding: 0;
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  }

  .side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
  }

  .side-nav > li > ul > li > a:hover {
    color: #fff;
  }
}
